@import url('https://fonts.googleapis.com/css?family=Bangers|Candal|Monoton|Rufina|Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body { background-color: #ffffd8;
}

.blocks{
	font-size: 25px;
	text-align: center;
  	overflow: hidden;
  	padding:20px;
  	margin-left: 80px;
  	border: dotted 10px #5d3c9c;
  	font-family:'Staatliches';
}


.yuh a:link {
	color: #072F5F;
	text-decoration: none;
}

.yuh a:hover {
	color: #967bb6;
	text-decoration: none;
	
}

.yuh a:visited {
	color: #3895D3;
	text-decoration: none;
}

.name{
	text-align:center;
	color: #3A5FCD;
	font-size: 125px;
	margin-bottom: 40px;
	font-family: 'Monoton';
	
}


.articles {
	text-align: center; 
	color: #252378;
	font-size: 90px;
	clear: both;
	float:center;
	font-family: 'Candal';
}

.heading {
	text-align:center ;
	color: #323D95;
	font-size: 50px;
	margin-bottom: 5px;
}

h2{
	text-align: center; 
	font-size: 35px;
	color: steelblue;
	font-family: 'Candal';
	margin-top: 15px;
}

h3{
	text-align: left;
	font-size: 25px;
	color: #001540;
	font-family: 'Spectral';

}

h4{
	text-align: left;
	font-size: 20px;
	color: #001C57;
	font-family: 'Spectral';
}


h5{ 
	text-align: left;
	font-size: 10px;
	color:#00316E;
 }

 p{
	text-align: left;
	font-size: 20px;
 }
